// @import "reset";
// @import "var";

// @mixin containerRules {
//    max-width: 1200px;
//    padding: 0 15px;
//    margin: 0 auto;
//    position: relative;
// }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

// @font-face {
//   font-family: Aquarelle;
//   src: url(../img/Aquarelle.ttf);
// }
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  &:root {
    --animate-duration: 2s;
  }
}

body {
  background-color: #fbfbfb;
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
@media (min-width: 768px) and (max-width: 1023px)  {
    max-width: 590px;
  }
  @media (min-width: 1024px) {
    max-width: 740px;
  }
  &__main {
    padding: 0px 0px;
    margin: 0 auto;
    position: relative;
  }
  &__timing {
    padding: 0px 15px;
    z-index: 1;
    @media (min-width: 1024px) {
      max-width: 900px;
    }
  }
  &__details {
    @media (min-width: 1024px) {
      max-width: 940px;
    }
  }
}

.main {
  margin-bottom: 140px;
  padding: 80px 0 0;
  @media (min-width: 1024px) {
    padding: 40px 0 0;
  }
  &__mainwrap {
    padding: 42px 0px 73px;
    position: relative;
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 120px;
    @media (min-width: 1024px) {
      padding: 50px 0px 60px;
      max-width: 300px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -2;
      height: 520px;
      border: 5px solid #b3c4db;
      filter: blur(5px);
      @media (min-width: 1024px) {
        height: 570px;
      }
    }
  }
  &__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 120px;
    line-height: 130px;
    margin-bottom: 5px;
    text-align: center;
    color: #2a3b52;
    opacity: 0.9;
    position: relative;
    @media (min-width: 1024px) {
      font-size: 140px;
      line-height: 160px;
    }
  }
  &__textwrap {
    max-width: 300px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -83px;
    z-index: 1;
    margin: 0 auto;
    @media (min-width: 1024px) {
      max-width: 500px;
      bottom: -105px;
    }
  }
  &__text {
    font-family: "Aquarelle";
    font-weight: 300;
    font-size: 42px;
    line-height: 60px;
    color: #2a3b52;
    @media (min-width: 1024px) {
      font-size: 52px;
      line-height: 75px;
    }
    &-s {
      text-align: left;
    }
    &-a {
      font-size: 70px;
      line-height: 20px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      width: 85px;
      @media (min-width: 1024px) {
        font-size: 80px;
        margin-bottom: 30px;
      }
    }
    &-e {
      text-align: right;
    }
  }
}

.information {
  margin-bottom: 30px;
  @media (min-width: 1024px) {
    margin-bottom: 50px;
  }
  &__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    text-align: center;
    color: #2a3b52;
    @media (min-width: 1024px) {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 30px;
    }
  }
  &__text {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #2a3b52;
  }
  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 22px;
  }
}

.timer {
  margin-bottom: 40px;
  @media (min-width: 1024px) {
    margin-bottom: 60px;
  }
  &__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    text-align: center;
    color: #2a3b52;
    @media (min-width: 1024px) {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 30px;
    }
  }
  &__wrapper {
    border-radius: 50px;
    background-color: #b3c4db;
    max-width: 280px;
    width: 100%;
    padding: 10px 42.5px;
    position: relative;
    margin: 0 auto;
    @media (min-width: 768px)  and (max-width: 1023px){
      max-width: 380px;
    }
    @media (min-width: 1024px) {
      max-width: 500px;
      padding: 12px 76.5px;
    }
  }
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__number {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #2a3b52;
    @media (min-width: 1024px) {
      font-size: 24px;
      line-height: 33px;
    }
  }
  &__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #2a3b52;
    @media (min-width: 1024px) {
      font-size: 14px;
      line-height: 26px;
    }
  }
}
.location {
  margin-bottom: 40px;
  @media (min-width: 1024px) {
    margin-bottom: 60px;
  }
  &__banner {
    background-image: url(../img/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 0;
    position: relative;
    z-index: 4;
    @media (min-width: 1024px) {
      padding: 45px 0;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      background: #b3c4db;
      opacity: 0.5;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      background: #2a3b52;
      opacity: 0.4;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 6;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    margin-bottom: 120px;
    text-align: center;
    color: #fbfbfb;
    font-family: "Mr De Haviland", cursive;
    position: relative;
    @media (min-width: 1024px) {
      font-size: 84px;
      line-height: 108px;
      margin-bottom: 140px;
    }
    &::before {
      content: "Location";
      display: block;
      position: absolute;
      font-weight: 400;
      font-size: 64px;
      line-height: 84x;
      color: #fbfbfb;
      font-family: "Mr De Haviland", cursive;
      opacity: 0.2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 3px;
      @media (min-width: 1024px) {
        font-size: 84px;
        line-height: 108px;
        margin-bottom: 140px;
      }
    }
  }
  &__text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    text-align: center;
    color: #fbfbfb;
    @media (min-width: 1024px) {
      font-size: 20px;
      line-height: 27px;
    }
    &-bottom {
      margin-bottom: 210px;
    }
  }
  &__link {
    font-family: Open Sans;
    max-width: 156px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #fbfbfb;
    text-decoration: none;
    border-bottom: 0.7px solid #fbfbfb;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    @media (min-width: 1024px) {
      font-size: 16px;
      line-height: 22px;
      max-width: 175px;
    }
    &:hover {
      max-width: 160px;
      font-weight: 600;
      @media (min-width: 1024px) {
        max-width: 180px;
      }
    }
    &:focus {
      max-width: 160px;
      font-weight: 600;
      color: #2a3b52;
      border-bottom: 0.7px solid #2a3b52;
      @media (min-width: 1024px) {
        max-width: 180px;
      }
    }
  }
}
.timing {
  margin-bottom: 185px;
  position: relative;
  @media (min-width: 1024px) {
    margin-bottom: 285px;
  }
  &__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    text-align: center;
    color: #2a3b52;
    font-family: "Mr De Haviland", cursive;
    position: relative;
    @media (min-width: 1024px) {
      font-size: 84px;
      line-height: 108px;
    }
    &::before {
      content: "Timing";
      display: block;
      position: absolute;
      font-weight: 400;
      font-size: 64px;
      line-height: 84px;
      color: #2a3b52;
      font-family: "Mr De Haviland", cursive;
      opacity: 0.2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 3px;
      @media (min-width: 1024px) {
        font-size: 84px;
        line-height: 108px;
      }
    }
  }
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: start;
    &-car {
      margin-bottom: 49px;
      @media (min-width: 768px)  and (max-width: 1023px){
        margin-bottom: 50px;
        width: 100%;
        justify-content: start;
      }
      @media (min-width: 1024px) {
        margin-bottom: 80px;
        width: 100%;
        justify-content: start;
      }
    }
    &-plane {
      margin-bottom: 58px;
      @media (min-width: 768px)  and (max-width: 1023px){
        margin-bottom: 57px;
        justify-content: flex-end;
      }
      @media (min-width: 1024px) {
        margin-bottom: 115px;
        max-width: 830px;
        width: 100%;
        justify-content: flex-end;
      }
    }
    &-glasses {
      margin-bottom: 42px;
      position: relative;
      @media (min-width: 768px)  and (max-width: 1023px) {
        margin-bottom: 30px;
        max-width: 300px;
        width: 100%;
        justify-content: space-between;
        margin-left: 140px;
      }
      @media (min-width: 1024px) {
        margin-bottom: 55px;
        max-width: 340px;
        width: 100%;
        justify-content: space-between;
        margin-left: 165px;
      }
    }
    &-couple {
      margin-bottom: 55px;
      justify-content: end;
      @media (min-width: 1024px) {
        margin-bottom: 135px;
        max-width: 828px;
        width: 100%;
        justify-content: end;
      }
    }
    &-dinner {
      @media (min-width: 768px)  and (max-width: 1023px) {
        justify-content: start;
        margin-left: 57px;
      }
      @media (min-width: 1024px) {
        justify-content: start;
        margin-left: 20px;
      }
    }
  }
  &__img {
    width: 84px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    @media (min-width: 1024px) {
      width: 120px;
      height: 120px;
    }
    &-car {
      @media (min-width: 768px)  and (max-width: 1023px){
      margin-right: 200px;
    }
      @media (min-width: 1024px) {
      margin-right: 100px;
    }
  }
    &-glasses {
      &::before {
        content: "";
        display: block;
        position: absolute;
        background: #fbfbfb;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50%;
        z-index: 2;
      }
    }
    &-couple {
      &::before {
        content: "";
        display: block;
        position: absolute;
        background: #fbfbfb;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50%;
        z-index: 2;
      }
    }
    &-dinner {
      @media (min-width: 768px)  and (max-width: 1023px) {
      margin-right: 140px;
    }
      @media (min-width: 1024px) {
      margin-right: 100px;
    }
      &::before {
        content: "";
        display: block;
        position: absolute;
        background: #fbfbfb;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50%;
        z-index: 2;
      }
    }
  }
  &__png {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 3;
  }
  &__textwrap {
    max-width: 160px;
    width: 100%;
    @media (min-width: 1024px) {
      max-width: 180px;
    }
    &-car {
      margin-left: 46px;
      @media (min-width: 768px)  and (max-width: 1023px){
        margin-left: 0px;
      }
      @media (min-width: 1024px) {
        margin-left: 0px;
        max-width: 180px;
      }
    }
    &-plane {
      margin-right: 46px;
      max-width: 155px;
      @media (min-width: 768px)  and (max-width: 1023px){
        margin-right: 200px;
      }
      @media (min-width: 1024px) {
        margin-right: 100px;
        max-width: 180px;
      }
    }
    &-glasses {
      margin-left: 48px;
      max-width: 155px;
      @media (min-width: 768px)  and (max-width: 1023px) {
        margin-left: 0px;
      }
      @media (min-width: 1024px) {
        margin-left: 0px;
        max-width: 180px;
      }
    }
    &-couple {
      max-width: 150px;
      margin-right: 50px;
      @media (min-width: 768px)   and (max-width: 1023px){
        margin-right: 200px;
      }
      @media (min-width: 1024px) {
        margin-right: 100px;
        max-width: 180px;
      }
    }
    &-dinner {
      margin-left: 45px;
      @media (min-width: 768px)  and (max-width: 1023px) {
        margin-left: 0px;
      }
      @media (min-width: 1024px) {
        margin-left: 0px;
        max-width: 140px;
      }
    }
  }
  &__text-top {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 5px;
    text-align: center;
    color: #2a3b52;
    @media (min-width: 1024px) {
      font-size: 20px;
      line-height: 27px;
    }
  }
  &__text-bottom {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #2a3b52;
    @media (min-width: 1024px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__svg1 {
    position: absolute;
    top: 133px;
    left: 15px;
    z-index: 1;
    @media (min-width: 768px)  and (max-width: 1023px) {
      opacity: 0;
    }
    @media (min-width: 1024px) {
      opacity: 0;
    }
  }
  &__svg5 {
    position: absolute;
    top: 150px;
    left: 43px;
    z-index: 1;
    opacity: 0;
    @media (min-width: 768px)  and (max-width: 1023px) {
      opacity: 0;
    }
    @media (min-width: 1024px) {
      position: absolute;
      top: 170px;
      left: 85px;
      z-index: 1;
      opacity: 1;
      transform: rotate(-4deg);
    }
  }
  &__svg2 {
    position: absolute;
    top: 267px;
    left: 44px;
    z-index: 1;
    @media (min-width: 768px)  and (max-width: 1023px) {
      opacity: 0;
    }
    @media (min-width: 1024px) {
      opacity: 0;
    }
  }
  &__svg11 {
    position: absolute;
    opacity: 0;
    top: 393px;
    left: 60px;
    z-index: 1;
    @media (min-width: 768px)  and (max-width: 1023px) {
      opacity: 0;
    }
    @media (min-width: 1024px) {
      opacity: 1;
    }
  }
  &__svg3 {
    position: absolute;
    top: 805px;
    left: 126px;
    z-index: 1;
    @media (min-width: 768px)  and (max-width: 1023px) {
      left: 288px;
    }
    @media (min-width: 1024px) {
      top: 1280px;
      left: 403px;
    }
  }
  &__svg22 {
    position: absolute;
    opacity: 0;
    top: 267px;
    left: 90px;
    z-index: 1;
    @media (min-width: 768px) and (max-width: 1023px) {
      opacity: 1;
    }
    @media (min-width: 1024px) {
      opacity: 0;
    }
  }
  &__svg55 {
    position: absolute;
    opacity: 0;
    top: 393px;
    left: 60px;
    z-index: 1;
    @media (min-width: 768px)  and (max-width: 1023px) {
        position: absolute;
    top: 134px;
    left: 90px;
    z-index: 1;
    opacity: 1;
    transform: rotate(-12deg);
    }
    @media (min-width: 1024px) {
      opacity: 0;
    }
  }
}
.details {
  margin-bottom: 40px;
  @media (min-width: 1024px) {
    margin-bottom: 60px;
  }
  &__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    text-align: center;
    color: #2a3b52;
    font-family: "Mr De Haviland", cursive;
    position: relative;
    @media (min-width: 1024px) {
      font-size: 84px;
      line-height: 108px;
      margin-bottom: 50px;
    }
    &::before {
      content: "Details";
      display: block;
      position: absolute;
      font-weight: 400;
      font-size: 64px;
      line-height: 84px;
      color: #2a3b52;
      font-family: "Mr De Haviland", cursive;
      opacity: 0.2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 3px;
      @media (min-width: 1024px) {
        font-size: 84px;
        line-height: 108px;
      }
    }
  }
  &__textwrap {
    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
    }
  }
  &__text {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 25px;
    color: #2a3b52;
    position: relative;
    @media (min-width: 1024px) {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 0px;
      text-indent: 0px;
      text-align: center;
    }
    &-bottom {
      margin-bottom: 0px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      background: #b3c4db;
      opacity: 1;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 5px;
      left: 9px;
      @media (min-width: 1024px) {
        width: 30px;
        height: 30px;
        top: -45px;
        left: 45%;
      }
    }
  }
}
.contacts {
  margin-bottom: 40px;
  @media (min-width: 1024px) {
    margin-bottom: 60px;
  }
  &__title {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #2a3b52;
     @media (min-width: 768px) and (max-width: 1023px) {
      margin-bottom: 30px;
    }
    @media (min-width: 1024px) {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 40px;
    }
  }
  &__wrap {
    @media (min-width: 768px)  and (max-width: 1023px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @media (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__text {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-right: 7px;
    color: #2a3b52;
    position: relative;
    @media (min-width: 1024px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__linkwrap {
    display: flex;
    margin-bottom: 15px;
     @media (min-width: 768px)  and (max-width: 1023px) {
      margin-bottom: 0px;
    }
    @media (min-width: 1024px) {
      margin-bottom: 0px;
    }
    &-bottom {
      margin-bottom: 0px;
    }
  }
  &__link {
    font-family: Open Sans;
    max-width: 107px;
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #2a3b52;
    text-decoration: none;
    border-bottom: 0.7px solid #b3c4db;
    display: block;
    @media (min-width: 1024px)  {
      font-size: 16px;
      line-height: 22px;
      max-width: 125px;
    }
    &:hover {
      border-bottom: 0.7px solid #2a3b52;
      font-weight: 400;
    }
    &:focus {
      border-bottom: 0.7px solid #2a3b52;
      font-weight: 600;
    }
  }
}
.footer {
  background-color: #b3c4db;
  padding: 10px 0;
  @media (min-width: 1024px) {
    padding: 15px 0;
  }
  &__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    text-align: center;
    color: #2a3b52;
    font-family: "Mr De Haviland", cursive;
    position: relative;
    @media (min-width: 1024px) {
      font-size: 84px;
      line-height: 108px;
    }
    &::before {
      content: "With Love";
      display: block;
      position: absolute;
      font-weight: 400;
      font-size: 64px;
      line-height: 84px;
      color: #2a3b52;
      font-family: "Mr De Haviland", cursive;
      opacity: 0.2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 3px;
      @media (min-width: 1024px) {
        font-size: 84px;
        line-height: 108px;
      }
    }
  }
  &__text {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 5px;
    text-align: center;
    color: #2a3b52;
    position: relative;
    @media (min-width: 1024px) {
      font-size: 20px;
      line-height: 27px;
    }
    &-bottom {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0px;
      @media (min-width: 1024px) {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}

.form {
  margin-bottom: 40px;
  @media (min-width: 1024px) {
    margin-bottom: 60px;
  }
  &__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    text-align: center;
    color: #2a3b52;
    font-family: "Mr De Haviland", cursive;
    position: relative;
    @media (min-width: 1024px) {
      font-size: 84px;
      line-height: 108px;
    }
    &::before {
      content: "Form";
      display: block;
      position: absolute;
      font-weight: 400;
      font-size: 64px;
      line-height: 84px;
      color: #2a3b52;
      font-family: "Mr De Haviland", cursive;
      opacity: 0.2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 3px;
      @media (min-width: 1024px) {
        font-size: 84px;
        line-height: 108px;
      }
    }
  }
  &__wrap {
    border: 1px solid #2a3b52;
    padding: 15px 10px;
    border-radius: 10px;
    @media (min-width: 1024px) {
      padding: 30px 60px;
    }
  }
  &__text {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #2a3b52;
    position: relative;
    @media (min-width: 1024px) {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 30px;
    }
    &-subtitle {
      font-weight: 400;
      text-align: left;
      margin-bottom: 15px;
      @media (min-width: 1024px) {
        font-size: 16px;
        line-height: 22px;
      }
    }
    &-mini {
      font-size: 10px;
      line-height: 14px;
      text-align: justify;
      text-indent: 15px;
      @media (min-width: 1024px) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
  &__name {
    margin-bottom: 20px;
  }
  &__input {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    max-width: 260px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0px 8px 15px;
    background: #b3c4db;
    color: #2a3b52;
    opacity: 0.6;
    border-radius: 10px;
    margin-bottom: 5px;
    @media (min-width: 768px)  and (max-width: 1023px) {
      max-width: 530px;
    }
    @media (min-width: 1024px) {
      font-size: 16px;
      line-height: 22px;
      max-width: 580px;
    }
    &:hover {
      box-shadow: 0 0 10px #b3c4db;
    }
    &:focus {
      box-shadow: 0 0 10px #b3c4db;
      background-color: #b3c4db;
      color: #2a3b52;
      opacity: 1;
    }
    &::placeholder {
      color: #2a3b52;
      z-index: 1;
    }
  }
  &__yes {
    margin-bottom: 10px;
  }
  &__btn {
    display: block;
    padding: 7px 0;
    margin: 0 auto;
    max-width: 150px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    background-color: #b3c4db;
    color: #2a3b52;
    border: none;
    border-radius: 10px;
    @media (min-width: 1024px) {
      font-size: 18px;
      line-height: 25px;
      max-width: 200px;
      padding: 10px 0;
    }
    &:hover {
      box-shadow: 0 0 10px #b3c4db;
    }
    &:focus {
      box-shadow: 0 0 10px #adbed5;
      background-color: #adbed5;
    }
  }
  .checkboxes__row {
    display: flex;
    flex-direction: column;
  }

  .checkboxes__item {
    max-width: 60px;
    width: 100%;
    margin-bottom: 20px;
  }
  .checkbox.style-d {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    @media (min-width: 1024px) {
      padding-left: 40px;
    }
  }
  .checkbox.style-d input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkbox.style-d input:checked ~ .checkbox__checkmark {
    background-color: #b3c4db;
  }
  .checkbox.style-d input:checked ~ .checkbox__checkmark:after {
    opacity: 1;
  }
  .checkbox.style-d:hover input ~ .checkbox__checkmark {
    box-shadow: 0 0 10px #b3c4db;
  }
  .checkbox.style-d:hover input:checked ~ .checkbox__checkmark {
    background-color: #b3c4db;
  }

  .checkbox.style-d .checkbox__checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #b3c4db;
    transition: background-color 0.25s ease;
    border-radius: 50%;
    @media (min-width: 1024px) {
      height: 22px;
      width: 22px;
    }
  }
  .checkbox.style-d .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2a3b52;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
    @media (min-width: 1024px) {
      height: 12px;
      width: 12px;
    }
  }
  .checkbox.style-d .checkbox__body {
    color: #2a3b52;
    font-family: Open Sans;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    @media (min-width: 1024px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.message {
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
  position: fixed;
  z-index: 100;
  top: 0;
  opacity: 0.9;
  &__content {
    max-width: 300px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border: 1px solid rgb(42, 59, 82, 0.7);
    border-radius: 10px;
  }
  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: #2a3b52;
    text-align: center;
    margin-bottom: 50px;
  }
  &__img {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b3c4db;
    border-radius: 50%;
    margin: 0 auto;
  }
  &__png {
    width: 70%;
    height: 70%;
    object-fit: contain;
  }
  .close__button {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    line-height: 45px;
    font-weight: 400;
    color: #2a3b52;
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      font-weight: 600;
    }
    &:focus {
      color: #adbed5;
    }
  }
}
.error-message {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #c61919;
  position: absolute;
  bottom: 55px;
}
.background {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    z-index: 3;
    &-one {
      top: 719px;
      left: -100px;
      transform: rotate(30deg);
      width: 250px;
      height: 250px;
      @media (min-width: 768px)  and (max-width: 1023px){
        width: 300px;
        height: 300px;
        top: 740px;
        left: -70px;
        transform: rotate(40deg);
      }
      @media (min-width: 1024px) {
        width: 450px;
        height: 450px;
        top: -100px;
        left: -125px;
      }
    }
    &-two {
      top: 1055px;
      right: -100px;
      transform: rotate(-30deg);
      width: 250px;
      height: 250px;
      @media (min-width: 768px)   and (max-width: 1023px){
        width: 300px;
        height: 300px;
        top: 955px;
        right: -105px;
        transform: rotate(-40deg);
      }
      @media (min-width: 1024px) {
        top: 50px;
        right: -160px;
        width: 450px;
        height: 450px;
      }
    }
    &-three {
      top: 1250px;
      left: -118px;
      transform: rotate(30deg);
      width: 250px;
      height: 250px;
      @media (min-width: 768px)   and (max-width: 1023px){
        width: 300px;
        height: 300px;
        top: 1230px;
        left: -110px;
        transform: rotate(35deg);
      }
      @media (min-width: 1024px) {
        top: 2217px;
        left: -70px;
        transform: rotate(-25deg);
        width: 450px;
        height: 450px;
      }
    }
    &-four {
      top: 1360px;
      right: -130px;
      transform: rotate(5deg);
      width: 250px;
      height: 250px;
      @media (min-width: 768px)  and (max-width: 1023px){
        width: 300px;
        height: 300px;
      }
      @media (min-width: 1024px) {
        top: 550px;
        right: -130px;
        width: 450px;
        height: 450px;
      }
    }
    &-four1 {
      top: 1540px;
      left: -135px;
      transform: rotate(50deg);
      width: 250px;
      height: 250px;
      @media (min-width: 768px)  and (max-width: 1023px){
        width: 300px;
        height: 300px;
        top: 1615px;
        left: -80px;
        transform: rotate(45deg);
      }
      @media (min-width: 1024px) {
        top: 990px;
        left: -120px;
        transform: rotate(45deg);
        width: 450px;
        height: 450px;
      }
    }
    &-five {
      top: 1680px;
      right: -80px;
      transform: rotate(-40deg);
      width: 200px;
      height: 250px;
      @media (min-width: 768px)  and (max-width: 1023px){
        width: 300px;
        height: 300px;
        top: 1750px;
      }
      @media (min-width: 1024px) {
        top: 3010px;
        right: -60px;
        transform: rotate(-230deg);
        width: 450px;
        height: 450px;
      }
    }
    &-six {
      top: 1860px;
      left: -35px;
      transform: rotate(-7deg);
      width: 185px;
      height: 185px;
      opacity: 1;
      @media (min-width: 768px)  and (max-width: 1023px){
        width: 10px;
        height: 10px;
        opacity: 0;
      }
      @media (min-width: 1024px) {
        top: 1550px;
        left: -55px;
        transform: rotate(0deg);
        width: 450px;
        height: 450px;
        opacity: 1;
      }
    }

    &-seven {
      top: 2435px;
      left: -90px;
      transform: rotate(190deg);
      width: 250px;
      height: 250px;
      @media (min-width: 768px)  and (max-width: 1023px){
        width: 300px;
        height: 300px;
        top: 2330px;
        left: -75px;
      }
      @media (min-width: 1024px) {
        top: 450px;
        left: -170px;
        width: 450px;
        height: 450px;
        transform: rotate(155deg);
      }
    }
    &-eight {
      top: 2635px;
      right: -95px;
      width: 235px;
      height: 215px;
      transform: rotate(-20deg);
      @media (min-width: 768px)  and (max-width: 1023px){
        top: 2530px;
        width: 300px;
        height: 300px;
        transform: rotate(-20deg);
        right: -115px;
      }
      @media (min-width: 1024px) {
        transform: rotate(-35deg);
        top: 1200px;
        right: -130px;
        width: 450px;
        height: 450px;
      }
    }
    &-nine {
      top: 2850px;
      left: -85px;
      transform: rotate(30deg);
      width: 250px;
      height: 250px;
      @media (min-width: 768px)  and (max-width: 1023px){
        width: 300px;
        height: 300px;
        top: 2720px;
        left: -90px;
        transform: rotate(40deg);
      }
      @media (min-width: 1024px) {
        top: 3250px;
        left: -140px;
        transform: rotate(40deg);
        width: 450px;
        height: 450px;
      }
    }
    &-ten {
      top: 3055px;
      right: -80px;
      transform: rotate(30deg);
      width: 200px;
      height: 200px;
      z-index: -2;
      @media (min-width: 768px)  and (max-width: 1023px){
        width: 300px;
        height: 300px;
        top: 2935px;
        right: -105px;
        transform: rotate(20deg);
      }
      @media (min-width: 1024px) {
        top: 3550px;
        right: -125px;
        transform: rotate(15deg);
        width: 450px;
        height: 450px;
      }
    }
    &-eleven {
      top: 3235px;
      left: -65px;
      transform: rotate(30deg);
      width: 250px;
      height: 250px;
      z-index: -2;
      @media (min-width: 768px)  and (max-width: 1023px){
        width: 300px;
        height: 300px;
        top: 3170px;
        left: -70px;
        transform: rotate(140deg);
      }
      @media (min-width: 1024px) {
        top: 3920px;
        transform: rotate(-35deg);
        left: -90px;
        width: 450px;
        height: 450px;
      }
    }
    &-twelve {
      top: 3520px;
      right: -60px;
      transform: rotate(30deg);
      width: 200px;
      height: 200px;
      z-index: -2;
      opacity: 1;
      @media (min-width: 768px)  and (max-width: 1023px){
        opacity: 0;
        width: 5px;
        height: 5px;
      }
      @media (min-width: 1024px) {
        top: 1870px;
        right: -160px;
        transform: rotate(35deg);
        width: 450px;
        height: 450px;
        opacity: 1;
      }
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 3;
  }
}
@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

.heart {
  position: absolute;
  font-size: 30px;
  color: #b3c4db;
  animation: explode 1s ease-out;
  opacity: 0;
}

.heart:before {
  content: "\2665";
}
